.site {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.block {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 100px 50px;
	background: #e7e7e7;
	position: relative;
}

#myButton {
}

#myInput {
	display: none;
}

.list__outer {
	position: relative;
	padding: 0 2px;
}

#list {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	max-height: 240px;
	margin: 2px auto;
	background: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow-x: hidden;
	overflow-y: auto;
	display: none;
	z-index: 10;
}

.list {
	width: 100%;
	height: 48px;
	padding: 0 8px 0 16px;
	box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
	line-height: 48px;
	overflow: hidden;
	cursor: pointer;
}
.list:focus {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0 -1px rgba(0, 0, 0, 0.15) inset;
	outline: none;
}

.list.active {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0 -1px rgba(0, 0, 0, 0.15) inset;
	outline: none;
}

.list.selected {
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0 -1px rgba(0, 0, 0, 0.15) inset;
	outline: none;
}
