doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="assets/css/apps.css")
  body 
    .site
      #block.block
        button#myButton.btn.btn-secondary(tabindex="1") Выберите значение
        input#myInput.form-control(type="text" placeholder="Введите текст" value="" tabindex="2")
        .list__outer
          #list
        //- input
      #block.block
        button.btn.btn-secondary Другая кнопка
        

  
  script(src="assets/js/vendors.js")
  script(src="assets/js/main.js") 
